<!-- <p>Welcome</p> -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" class="logo"> <img src="../assets/images/logo.png" height="70" width="100" alt=""> SoftDots.in</a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#welcome">Home</a></li>
                        <li class="scroll-to-section"><a href="#about">About</a></li>
                        <li class="scroll-to-section"><a href="#services">Services</a></li>
                        <li class="scroll-to-section"><a href="#product-erp">Products</a></li>
                        <!-- <li class="scroll-to-section"><a href="#frequently-question">Frequently Questions</a></li> -->
                        <!-- <li class="submenu">
                            <a href="javascript:;">Products</a>
                            <ul>
                                <li class="scroll-to-section"><a href="#product-erp">ERP</a></li>
                                <li><a href="">OCR Conversion</a></li>
                            </ul>
                        </li> -->
                        <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>