
<!-- <div class="scrollbar" id="#style-3"> -->
    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>SoftDots is here <strong>for YOU</strong></h1>
                        <!-- <p>We provide various automation services to you. We can automate majority of processes which require manual intervention.</p> -->
                        <a href="#about" class="main-button-slider" nbButton>Find Out More</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="assets/images/welcome-image-1.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="assets/images/chotbot/ai-world.png" height="500" width="500" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                    <div class="left-heading">
                        <h5>We are here to automate manual processess..</h5>
                    </div>
                    <div class="left-text">
                        <p>We provide various automation services for our clients. We can automate majority of processes which require manual intervention. From developing <a href="https://en.wikipedia.org/wiki/Machine_learning">Machine Learning</a> models to extraction of key information from the documents. We can automate it all for you. The main concept behind automating stuff is, <strong>Cost Savings</strong>.<br><br>
                        <strong>What we can do? - </strong>ChatBot, Hyper Automation, Web Automation, Desktop Automation, Machine Learning Models, Document Information Extraction, Invoice Extraction, Website Development, WebApp Development, Cloud Services, Database Management etc.</p>
                        <a href="#services" class="main-button">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- Service Carousel -->
    <section class="section" id="services">
        <div class="container">
            <div class="carousel slide" id="service-carousel" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#service-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#service-carousel" data-slide-to="1"></li>
                    <li data-target="#service-carousel" data-slide-to="2"></li>
                    <li data-target="#service-carousel" data-slide-to="3"></li>
                </ol><!-- /.carousel-indicators -->

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/chotbot/chatbot-icon.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">ChatBot Development</h5>
                                    <p>A <strong>chatbot</strong> is a software application used to conduct an on-line chat conversation via text or text-to-speech, in lieu of providing direct contact with a live human agent. We use <strong>DialogFlow</strong> for developing customized ChatBots.</p>
                                    <!-- <a href="#" class="main-button">Read More</a> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/Development/rpa-1.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">Robotic Process Automation</h5>
                                    <p> <strong>Robot Process Automation</strong> or <strong>RPA</strong> is an automation process which mitigates the manual intervention from a person. It includes <strong>Web Automation</strong> and <strong>Desktop Automation</strong>. Any kind of repetitive tasks can be automated very easily.</p>
                                    <!-- <a href="#" class="main-button">Discover More</a> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/Development/ml-1.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">Machine Learning</h5>
                                    <p><strong>Machine Learning</strong> is the study of computer algorithms that improve automatically through experience. It is sub-part of <strong>Artificial Intelligence</strong>. We can develop custom trained object detection models which uses <strong>TensorFlow</strong> as its back-end.</p>
                                    <!-- <a href="#" class="main-button">Discover More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/Development/web-dev.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">Web Development</h5>
                                    <p>Our team is efficient in latest frameworks for web development like <strong>Angular, Django, React, etc</strong>. We can build from <strong>Single-Page Website</strong> to <strong>Full-Fledged WebApps</strong> which contains various functionalities.<br>Want a demo? - You are looking at one. :)</p>
                                    <!-- <a href="#" class="main-button">Demo</a> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/Development/mobile-dev.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">Mobile App Development</h5>
                                    <p>We can develop <strong>cross platform</strong> mobile applications according to the customer requirements. In order to achieve this functionality we use <strong>Xamarin</strong> as our main source which can automatically achieve the divergence we are lookingfor. </p>
                                    <!-- <a href="#" class="main-button">Discover More</a> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/Development/gears1.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">Software Development Service</h5>
                                    <p>Our development team is trained in various platforms of which <strong>Python</strong> and <strong>DotNet</strong> are the primary focus. We can design and develop custom softwares according to client requirements.</p>
                                    <!-- <a href="#" class="main-button">Read More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/Database/database.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">Database Services</h5>
                                    <p>We also provide services related to database like <strong>RAC, RMAN Backups and Recovery, Standby Dataguard, Migration, Upgradation etc.</strong> We are efficient in SQL and NoSQL databases like <strong>ORACLE, MySQL, SQLServer, MongoDB, Postgres, Gcloud SQL, etc</strong>.</p>
                                    <!-- <a href="#" class="main-button">Discover More</a> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/Development/doc-1.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">Document Information Extraction</h5>
                                    <p><strong>Document Information Extraction</strong> refers to extraction of immportant information from any type of documents. We can handle various kind of formats. We can even handle scanned PDF's which leverages our <strong>OCR</strong> pipeline.</p>
                                    <!-- <a href="#" class="main-button">Read More</a> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/Development/invoice-1.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">Invoice Extraction</h5>
                                    <p><strong>Invoice Extraction</strong> is the means of extracting important values from the invoices. <strong>How is it different from Document Extraction? - </strong>Invoices are purely made of tables, so they are handled differently and in a tabular manner.</p>
                                    <!-- <a href="#" class="main-button">Discover More</a> -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/Database/cloud-service.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">Cloud Services</h5>
                                    <p>We have our own cloud services. We can provide servers, databases to our client.</p>
                                    <!-- <a href="#" class="main-button">Read More</a> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/Database/database.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">Database Services</h5>
                                    <p>We have our own cloud services. We can provide servers, databases to our client.</p>
                                    <!-- <a href="#" class="main-button">Discover More</a> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="item service-item">
                                    <div class="icon">
                                        <i><img src="assets/images/service-icon-02.png" alt=""></i>
                                    </div>
                                    <h5 class="service-title">Second Box Title</h5>
                                    <p>Pellentesque vitae urna ut nisi viverra tristique quis at dolor. In non sodales dolor, id egestas quam. Aliquam erat volutpat. </p>
                                    <!-- <a href="#" class="main-button">Discover More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.carousel-inner -->
            </div><!-- /.carousel -->
        </div><!-- /.container -->
        <a href="#service-carousel" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only" aria-hidden="true">Prev</span>
        </a>
        <a href="#service-carousel" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only" aria-hidden="true">Next</span>
        </a>
    </section>
    <!-- Service Carousel End -->

    <!-- ***** Features Big Item Start ***** -->
    <div class="container">
        <div class="carousel slide" id="main-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <!-- <li data-target="#main-carousel" data-slide-to="2"></li>
                <li data-target="#main-carousel" data-slide-to="3"></li> -->
            </ol><!-- /.carousel-indicators -->

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <section class="section" id="product-erp" style="padding-top: 20px;">
                        <div class="container">
                            <div class="row">
                                <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                                    <div class="left-heading">
                                        <h5>What is Enterprise Resource Planning?</h5>
                                    </div>
                                    <p><a href="https://en.wikipedia.org/wiki/Enterprise_resource_planning">Enterprise resource planning</a> (ERP) is the integrated management of main business processes, often in real time and mediated by software and technology. ERP is usually referred to as a category of business management software—typically a suite of integrated applications—that an organization can use to collect, store, manage, and interpret data from many business activities.<br><br>
                                    Source: <a href="https://en.wikipedia.org/wiki/Main_Page"> Wikipedia</a><br><br>
                                    <a href="http://erp.softdots.in:3939/" target="_blank" class="main-button">Discover More</a></p>
                                </div>
                                <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                                    <img src="assets/images/erp/erp-6.png" height="500" width="500" class="rounded img-fluid d-block mx-auto" alt="App">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="carousel-item">
                    <section class="section" id="product-erp" style="padding-top: 20px;">
                        <div class="container">
                            <div class="row">
                                <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                                    <div class="left-heading">
                                        <h5>OCR API</h5>
                                    </div>
                                    <p><a href="https://en.wikipedia.org/wiki/Optical_character_recognition">Optical Character Recognition</a> (OCR) is a process of converting text images into an actual text that can be further used in our computer applications in order to process the information present in that text. It is a widely used technology in many firm who process information using text formats like Legal Firms, Natural Language Processing Firms, etc.</p><br><br>
                                    <!-- Source: <a href="https://en.wikipedia.org/wiki/Main_Page"> Wikipedia</a><br><br> -->
                                    <a href="" class="main-button">Coming Soon..</a>
                                </div>
                                <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                                    <img src="assets/images/Development/ocr-icon.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div><!-- /.carousel-inner -->
        </div><!-- /.carousel -->
    </div><!-- /.container -->
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Small Start ***** -->
    <!-- <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-01.png" alt=""></i>
                        </div>
                        <h5 class="service-title">First Box Service</h5>
                        <p>Aenean vulputate massa sed neque consectetur, ac fringilla quam aliquet. Sed a enim nec eros tempor cursus at id libero.</p>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-02.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Second Box Title</h5>
                        <p>Pellentesque vitae urna ut nisi viverra tristique quis at dolor. In non sodales dolor, id egestas quam. Aliquam erat volutpat. </p>
                        <a href="#" class="main-button">Discover More</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-03.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Third Title Box</h5>
                        <p>Quisque finibus libero augue, in ultrices quam dictum id. Aliquam quis tellus sit amet urna tincidunt bibendum.</p>
                        <a href="#" class="main-button">More Detail</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-02.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Fourth Service Box</h5>
                        <p>Fusce sollicitudin feugiat risus, tempus faucibus arcu blandit nec. Duis auctor dolor eu scelerisque vestibulum.</p>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-01.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Fifth Service Title</h5>
                        <p>Curabitur aliquam eget tellus id porta. Proin justo sapien, posuere suscipit tortor in, fermentum mattis elit.</p>
                        <a href="#" class="main-button">Discover</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-03.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Sixth Box Title</h5>
                        <p>Ut nibh velit, aliquam vitae pellentesque nec, convallis vitae lacus. Aliquam porttitor urna ut pellentesque.</p>
                        <a href="#" class="main-button">Detail</a>
                    </div>
                    <div class="item service-item">
                        <div class="icon">
                            <i><img src="assets/images/service-icon-01.png" alt=""></i>
                        </div>
                        <h5 class="service-title">Seventh Title Box</h5>
                        <p>Sed a consequat velit. Morbi lectus sapien, vestibulum et sapien sit amet, ultrices malesuada odio. Donec non quam.</p>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ***** Features Small End ***** -->

    <!-- ***** Contact Us Start ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <!-- ***** Contact Map Start ***** -->
                <!-- ***** Contact Map End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Full Name" required="" class="contact-field">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" placeholder="E-mail" required="" class="contact-field">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Your Message" required="" class="contact-field"></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send It</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">SoftDots Technologies, Est. 2019. Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a><br>Contact us: <strong>dba@softdots.in</strong><br>Phone No. : <strong>+91-9779777865</strong>
                    </p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<!-- </div> -->

